@import url('https://fonts.googleapis.com/css2?family=Lato&family=Sarabun:ital,wght@1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

#controls-container {
    pointer-events: none;

    position: absolute;

    width: 100vw;
    height: 100vh;
}

#control-canvas {
    position: absolute;

    width: 100vw;
    height: 100vh;

    z-index: 4;
}

#pen-container {
    position: absolute;

    width: 100vw;
    height: 100vh;

    background: none;

    z-index: 3;
}

#grid-container {
    position: absolute;

    width: 100vw;
    height: 100vh;

    background: #f8f8f8;
}

#settings-bar {
    z-index: 5;

    position: absolute;

    pointer-events: all;
}

#tool-bar {
    pointer-events: all;

    z-index: 5;

    position: absolute;

    background: white;
    border: 2px solid black;
    border-radius: 12px;
    padding: 8px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    top: 50%;
    transform: translate(20%, -50%);

    box-shadow: 0px 0px 8px rgb(187, 187, 187);
}

.button {
    border: 2px solid rgb(225, 225, 225);
    background: #f8f8f8;
    border-radius: 4px;

    box-sizing: border-box;
    padding: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button img {
    opacity: 0.4;

    transition: 0.2s;
}

.tool-button {
    width: 48px;
    height: 48px;
}

.tool-button.selected {
    border: 2px solid black;
    box-shadow: 0px 0px 8px rgb(187, 187, 187);
    font-weight: bold;
    transform: scale(1.05);
}

.tool-button.selected img {
    opacity: 1.0;
}

.tool-button:hover img {
    opacity: 1.0;
}

.button:hover {
    border: 2px solid rgb(45, 45, 45);
    font-weight: bold;

    cursor: pointer;
}

.tool-button {
    transition: 0.2s;
}