@import url('https://fonts.googleapis.com/css2?family=Lato&family=Sarabun:ital,wght@1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

#control-canvas {
    position: absolute;

    width: 100vw;
    height: 100vh;

    z-index: 4;
}

#pen-container {
    position: absolute;

    width: 100vw;
    height: 100vh;

    background: none;
}

#grid-container {
    width: 100vw;
    height: 100vh;

    background: #f8f8f8;
}


#controls {
    position: absolute;

    font-family: Lato;

    background: #ffffff;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.103);

    display: flex;
    flex-direction: column;

    margin: 16px;
    padding: 16px;
    gap: 16px;

    border-radius: 8px;

    z-index: 5;
}

#controls div {
    display: flex;
    align-items: center;
    gap: 16px;
}

.tool-button {
    border: 2px solid darkgray;
    border-radius: 8px;

    box-sizing: border-box;
    padding: 4px;
    width: 64px;
}

.tool-button:hover {
    background-color: darkgray;
    color: white;
    font-weight: bold;
}